@import "tailwindcss";

body {
  margin: 0;
  background-color: #020617;
}

/* Custom Scrollbar for the Pro look */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #020617; }
::-webkit-scrollbar-thumb { background: #1e293b; border-radius: 10px; }